{% extends "base.html" %}
{% block content %}
<main>
    <h2>Nazwa kursu: {{ course_info.name }}</h2>
    <h2>Opis kursu: {{ course_info.description }}</h2>
    {% if course_percent %}
        <h2>Procent kursu: {{ course_percent }}%</h2>
        <a class="btn btn-light" role="button" href="{{ url_for('courses.continue_lesson') }}">
            Kontynuuj kurs
        </a>
    {% else %}
        <a class="btn btn-light" role="button" href="{{ url_for('courses.course', course_id=course_info.id, lesson_id=1) }}">
            Rozpoczni kurs
        </a>
    {% endif %}

    {% for lesson in lesson_info %}
    	<div class="col">
            <!-- Kafel Bootstrap -->
            <a href="{{ url_for('courses.lessons', lesson_id=lesson.id) }}" class="card tile text-decoration-none text-dark">
                <!-- Obrazek -->
                <!-- <img src="https://via.placeholder.com/100" class="card-img-top" alt="Obrazek"> -->
                <div class="card-body">
                    <!-- Opis -->
                    <h5 class="card-title">{{ lesson.name }}</h5>
                    <p class="card-text">{{ lesson.description }}</p>
                </div>
            </a>
        </div>
    {% endfor %}

</div>
</main>
{% endblock %}