{% extends "base.html" %}
{% block content %}
<main>
    <h2>Nazwa kursu: {{ course_info.name }}</h2>
    <h2>Opis kursu: {{ course_info.description }}</h2>
    {% if course_percent == 100 %}
        <h2>Procent kursu: {{ course_percent }}%</h2>
    {% elif course_percent %}
        <h2>Procent kursu: {{ course_percent }}%</h2>
        <a class="btn btn-light" role="button" href="{{ url_for('courses.continue_lesson') }}">
            Kontynuuj kurs
        </a>
    {% else %}
        <a class="btn btn-light" role="button" href="{{ url_for('courses.course', course_id=course_info.id, lesson_id=1) }}">
            Rozpoczni kurs
        </a>
    {% endif %}

    {% for lesson in lesson_info %}
    	<div class="col">
            <!-- Kafel Bootstrap -->
            <a href="#" class="card tile text-decoration-none text-dark" onclick="checkLesson('{{ lesson.id }}', event)">
                <!-- Obrazek -->
                <!-- <img src="https://via.placeholder.com/100" class="card-img-top" alt="Obrazek"> -->
                <div class="card-body">
                    <!-- Opis -->
                    <h5 class="card-title">{{ lesson.name }}</h5>
                    <p class="card-text">{{ lesson.description }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    <div id="popupBlockOverlay" class="popup-block-overlay"></div>
    <div id="popup-block" class="popup-block">
        <p>Aby uruchomić tą lekcje zrób poprzednią.</p>
        <button class="close-popup-block-btn" onclick="closePopupBlock()">OK</button>
    </div>
    <style>
        .popup-block {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background: white;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            z-index: 1000;
        }

        .popup-block-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .close-popup-block-btn {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
    <script>
        function showPopupBlock() {
            document.getElementById('popup-block').style.display = 'block';
            document.getElementById('popupBlockOverlay').style.display = 'block';
        }

        function closePopupBlock() {
            document.getElementById('popup-block').style.display = 'none';
            document.getElementById('popupBlockOverlay').style.display = 'none';
        }

        function checkLesson(lessonId) {
            fetch(`/lessons/${lessonId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.result === 'not') {
                    showPopupBlock();
                } else if (data.result === 'redirect') {
                    window.location.href = data.url;
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>

</div>
</main>
{% endblock %}