.popup {
    display: none;
    position: absolute;
    width: 300px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 3000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.popup-header {
    padding: 10px;
    background: #f2f2f2;
    cursor: move;
}

.popup-header h2 {
    margin: 0;
    display: inline-block;
}

.close-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.popup-body {
    padding: 20px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}



#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    border: 1px solid #ccc;
}
.pop-up-btn {
    padding: 20px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    height: 70px;
}

.pop-up-btn:hover {
    background-color: #e5e5e5;
}

.pop-up-btn:active {
    background-color: #cccccc;
    color: #222;
}
