{% extends "base.html" %}

{% block content %}
<div class="container mb-5 background-image-kupid">

    <h1 class="my-2">Profil użytkownika</h1>

    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <div class="h-100 p-5 custom-bg-color rounded-3">
                <h2>Konto</h2>
                <p class="no-margin"><strong>Email:</strong> {{ current_user.email }}</p>
                <p class="no-margin"><strong>Data utworzenia:</strong> {{
                    current_user.registered_on.strftime("%d.%m.%Y") }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
