<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Site descriptions Tags -->
    <title>Silesian Phoenix</title>
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <meta name="author" content="Jakub Gurgul">
    <link href="{{ url_for('static', filename='img/favicon.png', _external=True) }}" rel="shortcut icon"
          type="image/x-icon">

    <!-- Local CSS file for styling the application-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- OG Meta Tags -->
    <!-- og:title -->
    <meta property="og:title" content="Silesian Phoenix"/>
    <!-- og:url -->
    <meta property="og:url" content="{{ url_for('recipes.index') }}"/>
    <!-- og:image -->
    <meta property="og:image" content="{{ url_for('static', filename='img/logo.png',  _external=True) }}"/>
    <!-- og:type -->
    <meta property="og:type" content="website"/>
    <!-- og:description -->
    <meta property="og:description" content="#"/>
    <!-- og:locale -->
    <meta property="og:locale" content="pl_PL"/>

    <!-- Additional Styling -->
    {% block styling %}
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-white" href="{{ url_for('recipes.index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    GOWNO
                {% endif %}
            </ul>

            <div class="text-end">
                {% if current_user.is_authenticated %}
                    <a class="btn btn-outline-light me-2" href="{{ url_for('users.profile') }}" role="button">
                        Profil
                    </a>
                    <a class="btn btn-light" href="{{ url_for('users.logout') }}" role="button">
                        Wyloguj
                </a>
                {% else %}
                <a class="btn btn-outline-light me-2" href="{{ url_for('users.login') }}" role="button">
                    Logowanie
                </a>
                <a class="btn btn-light" href="{{ url_for('users.register') }}" role="button">
                    Rejestrowanie
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="messages">
    {% for message in get_flashed_messages() %}
    <div class="flash-message">
        <p>{{ message }}</p>
        <span class="close-btn" onclick="this.parentElement.style.opacity='0';">
                <svg height="12" version="1.1" viewBox="0 0 100 100" width="12"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="m49.941 35.891 33.531-33.531 14.168 14.168-33.531 33.414 33.531 33.531-14.168 14.168-33.531-33.531-33.414 33.531-14.168-14.168 33.531-33.531-33.531-33.414 14.168-14.168z"
                          fill="currentColor" fill-rule="evenodd"></path>
                </svg>
            </span>
    </div>
    {% endfor %}
</div>


<main class="content">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Silesian Phoenix - 2023</span>
    </div>
</footer>

<script crossorigin="anonymous"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F 7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

<!-- Additional Scripts -->
{% block scripting %}
{% endblock %}

</body>
</html>
